extends common/layout

include common/menu 

block header 
  header#header 
    +menu

block content
  main#main 
    aside#bot_interface_welcome_container
      h1#bot_interface_index_title Welcome to the Student Bot Helper web portal!
      p#bot_interface_index_message Please log in to your account from the left-hand navigation menu or click ‘More information’ for more information about your Discord server bot, and what settings you can create, delete, and modify using this web portal.   
