@import "https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap";

/* Default */
body {
  margin: 0;
  padding: 0;
}

.separator {
  width: 40%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator .line {
  height: 1px;
  background: #989292; /* Line color */
  flex-grow: 1;
}

.separator span {
  background: #fff; /* Background color of your container for the "or" text to appear "cutting through" the line */
  padding: 0 10px;
}


/* menu */
/* menu icon */
.menu {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  width: auto;
  list-style: none;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#header li a {
  background-image: linear-gradient(to bottom, #003366, black);
  background-image: -moz-linear-gradient(to bottom, #003366, black);
  background-image: -webkit-linear-gradient(to bottom, #003366, black);
  background-clip: text;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
  display: inline-block;
  text-decoration: none;
}
#header li a:hover {
  background-color: #f4f4f4;
  background-image: linear-gradient(to bottom, orangered, red);
  background-image: -moz-linear-gradient(to bottom, orangered, red);
  background-image: -webkit-linear-gradient(to bottom, orangered, red);
  background-clip: text;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: brown;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: text-shadow 0.15s;
}
#header:hover {
  background-color: #f4f4f4;
}
#header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-in-out;
  -webkit-transition: max-height 0.2s ease-in-out;
}
#header #menu-btn {
  display: none;
}
#header #menu-btn:checked ~ .menu {
  max-height: 100%;
}
#header #menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
#header #menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
#header #menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
#header #menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
  top: 0;
}
#header #menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
#header .menu-icon {
  cursor: pointer;
  float: left;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
#header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  -webkit-transition: background 0.2s ease-out;
  width: 18px;
}
#header .menu-icon .navicon:before {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  width: 100%;
  top: 5px;
}
#header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  width: 100%;
  top: -5px;
}

header * {
  padding: 0;
  margin: 0;
}

/*  */
.full-height-sidebar {
  height: 100vh; /* Full viewport height */
  overflow-y: auto; /* Enable scrolling if content overflows */
}

/* Ensure the main content also fills the screen and allows for scrolling */
.main-content {
  min-height: 100vh; /* Minimum height to fill the viewport */
}

@media screen and (min-width: 1199px) {
  /* Editing will revert shortly. */
  /* body {
    margin: 0;
    padding: 0;
    display: grid;
    font-family: "Bacasime Antique", serif;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    "header main main main main main" 
    "header main main main main main" 
    "header main main main main main" 
    "header main main main main main" 
    "header main main main main main" 
    "header footer footer footer footer footer";
  } */
  #root {
    display: inherit;
    margin: inherit;
    font-family: inherit;
    height: inherit;
    max-height: inherit;
    width: inherit;
    max-width: inherit;
    grid-template-columns: inherit;
    grid-template-areas: inherit;
  }
  #main {
    grid-area: main;
  }
  #header {
    border: 2px solid red;
    background: #efeff5;
    border-right: 1px solid #dcdcdc;
    grid-area: header;
  }
  #menu_container {
    border: 2px solid green;
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #website_menu_username_container {
    display: flex;
    width: 100%;
    height: 70%;
    border: 2px dotted yellow;
  }
  #bot_interface_welcome_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid purple;
  }
  #footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid yellow;
    flex-direction: column;
  }
  #header .menu-icon {
    display: none;
  }
  #header .menu {
    border: 2px dashed purple;
    width: 100%;
    height: 100%;
    font-size: 100%;
    clear: none;
    max-height: none;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }
}
