@import "https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap";

/* Default */
body {
  margin: 0;
  padding: 0;
}

.separator {
  width: 40%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator .line {
  height: 1px;
  background: #989292; /* Line color */
  flex-grow: 1;
}

.separator span {
  background: #fff; /* Background color of your container for the "or" text to appear "cutting through" the line */
  padding: 0 10px;
}

.nav-title {
  padding: 0.5rem 1rem;
  color: #6c757d; /* Bootstrap's $secondary */
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  text-align: center;
}

/* Adjust active styling on the navigation */
.nav-pills .nav-link.active, 
.nav-pills .show > .nav-link
.nav-pills .nav-link:hover {
    color: rgb(34, 197, 94) !important;  
    background-color: transparent !important; 
}

/* menu */
/* menu icon */
.menu {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  width: auto;
  list-style: none;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#header li a {
  background-image: linear-gradient(to bottom, #003366, black);
  background-image: -moz-linear-gradient(to bottom, #003366, black);
  background-image: -webkit-linear-gradient(to bottom, #003366, black);
  background-clip: text;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
  display: inline-block;
  text-decoration: none;
}
#header li a:hover {
  background-color: #f4f4f4;
  background-image: linear-gradient(to bottom, orangered, red);
  background-image: -moz-linear-gradient(to bottom, orangered, red);
  background-image: -webkit-linear-gradient(to bottom, orangered, red);
  background-clip: text;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: brown;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: text-shadow 0.15s;
}
#header:hover {
  background-color: #f4f4f4;
}
#header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-in-out;
  -webkit-transition: max-height 0.2s ease-in-out;
}
#header #menu-btn {
  display: none;
}
#header #menu-btn:checked ~ .menu {
  max-height: 100%;
}
#header #menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
#header #menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
#header #menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
#header #menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
  top: 0;
}
#header #menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
#header .menu-icon {
  cursor: pointer;
  float: left;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
#header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  -webkit-transition: background 0.2s ease-out;
  width: 18px;
}
#header .menu-icon .navicon:before {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  width: 100%;
  top: 5px;
}
#header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  width: 100%;
  top: -5px;
}

header * {
  padding: 0;
  margin: 0;
}

/*  */
.full-height-sidebar {
  height: 100vh; /* Full viewport height */
  overflow-y: auto; /* Enable scrolling if content overflows */
}

/* Ensure the main content also fills the screen and allows for scrolling */
.main-content {
  min-height: 100vh; /* Minimum height to fill the viewport */
}

@media screen and (min-width: 1199px) {
  #root {
    display: inherit;
    margin: inherit;
    font-family: inherit;
    height: inherit;
    max-height: inherit;
    width: inherit;
    max-width: inherit;
    grid-template-columns: inherit;
    grid-template-areas: inherit;
  }
  #main {
    grid-area: main;
  }
  #header {
    background: #efeff5;
    border-right: 1px solid #dcdcdc;
    grid-area: header;
  }
  #menu_container {
    height: 95%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  #website_menu_username_container, #website_menu_username_container_anonymous_user {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    border: 2px solid yellow;
  }
  #website_menu_username_container_anonymous_user {
    border: 2px dashed orangered;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  #bot_interface_welcome_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid purple;
  }
  #footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #header .menu-icon {
    display: none;
  }
  #header .menu {
    border: 2px dashed purple;
    width: 100%;
    height: 100%;
    font-size: 100%;
    clear: none;
    max-height: none;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  .profileDropdownToggle {
    display: flex !important;
    align-items: center;
    text-decoration: none !important;
  }
  
  .profileImage {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }
  
  .dropdownMenu {
    margin-top: 0.5rem;
  }
}
